/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.multiselect-position{
    position: absolute !important;
    top: 19px !important;
  min-width: calc(100% + 15px) !important;
  width: 100% !important;
  margin-left: 6px !important;
  max-height: 246.4px !important;
  }

